<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"> 

<h:head><title>Edição de Grupos</title></h:head> 
<h:body> 
	<h:form>
		<h:messages/>
		<h:panelGrid columns="2">
			<f:facet name="header">Ediçao de Grupos</f:facet>
			<f:facet name="footer">
				<div align="center">
					<h:commandButton action="#{controleGrupo.Cancelar()}" 
					value="Cancelar" />
					<h:commandButton action="#{controleGrupo.gravar()}" value="Gravar" />
				</div>
			</f:facet>
			<h:outputLabel value="ID" />
			<h:inputText value="#{controleGrupo.objeto.id}" readonly="true"/>
			<h:outputLabel value="Nome" />
			<h:inputText value="#{controleGrupo.objeto.nome}" maxlength="40"
			size="40" />
		</h:panelGrid>
	</h:form>
</h:body> 
</html>
