<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>listagem de funcionarios</title>
</h:head>
<h:body>
	<h:form>
		<h:dataTable value="#{controleFuncionario.dao.listarTodos()}"
			var="obj" frame="box" rules="all" cellpadding="3">
			<f:facet name="header">
				<h:commandButton value="Novo Registro"
					action="#{controleFuncionario.novo()}" />
				<h:commandButton value="Imprimir" action="#{controleFuncionario.relatorio()}"
					onclick="this.form.target='_blank';" />
				
			</f:facet>
			<h:column>
				<f:facet name="header">ID</f:facet>
		#{obj.id}
	</h:column>
			<h:column>
				<f:facet name="header">Nome</f:facet>
		#{obj.nome}
	</h:column>
			<h:column>
				<f:facet name="header">Grupo</f:facet>
		#{obj.grupo}
	</h:column>
		<h:column>
				<f:facet name="header">Setor</f:facet>
		#{obj.setor}
		</h:column>
	<h:column>
			<f:facet name="header">Foto</f:facet>
			<p:graphicImage value="#{controleFuncionario.imagemDinamica}"
			id="imagem" style="tisth:60px;height:60px" cache="false">
			<f:param name="id_imagem" value="#{obj.id}" />
			</p:graphicImage>
				</h:column>
			<h:column>
				<f:facet name="header">Alterar</f:facet>
				<h:commandLink value="Alterar"
					action="#{controleFuncionario.alterar(obj)}" />
			</h:column>

			<h:column>
				<f:facet name="header">Excluir</f:facet>
				<h:commandLink value="Excluir"
					action="#{controleFuncionario.excluir(obj)}"
					onclick="if (!confirm('confirma a exclusao?'))return false" />
			</h:column>


		</h:dataTable>
	</h:form>
</h:body>
</html>
