<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<title>Gerenciamento de Projetos com JSF</title>
</h:head>
<h:body> 
	Seja bem vindo ao sistema <br />
	<h:form>
		<h:panelGroup rendered="#{controleLogin.usuarioLogado != null}">
			<h:panelGrid columns="1">
				<h:outputLabel
					value="Usuario Logado: #{controleLogin.usuarioLogado.nome}" />
				<h:commandLink value="Grupos" action="#{controleGrupo.listar()}" />
				<h:commandLink value="Funcionarios"
					action="#{controleFuncionario.listar()}" />
				<h:commandLink value="Projetos" action="#{controleProjeto.listar()}" />
				<h:commandLink value="Setores" action="#{controleSetor.listar()}" />
				<h:commandLink action="#{controleLogin.efetuarLogout()}"
					value="Sair" />
			
			    <h:commandButton value="Imprimir" action="#{controleFuncionario.relatorio()}"
					onclick="this.form.target='_blank';" />
			</h:panelGrid>
		</h:panelGroup>
		<h:panelGroup	rendered="#{controleLogin.usuarioLogado == null}">
			<h:commandLink action="#{controleLogin.paginaLogin()}" value="Login" />
		</h:panelGroup>
	</h:form>
</h:body>
</html>
