<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"> 

<h:head><title>Login de Usuário</title></h:head> 
<h:body> 
	<h:form>
		<h:panelGrid columns="2">
			<f:facet name="header">Dados do usuario</f:facet>
			<f:facet name="footer">
				<div align="center">
					<h:commandButton value="Login" action="#{controleLogin.efetuarLogin()}" />
				</div>
			</f:facet>
			<h:outputLabel value="Usuario"/>
			<h:inputText value="#{controleLogin.usuario}" size="20"/>
			<h:outputLabel value="Senha"/>
			<h:inputSecret value="#{controleLogin.senha}" />
		</h:panelGrid>
	</h:form>
</h:body> 
</html>
