<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"> 

<h:head><title>Acesso não autorizado</title></h:head> 
<h:body> 
	você não possui acesso ao recurso solicitado.
	<h:form>
		<h:commandLink value="Inicio" action="/index?faces-redirect=true" />
		<h:commandLink action="/index?faces-redirect=true" value="Inicio"/>
	</h:form>
</h:body> 
</html>
