<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"> 

<h:head><title>Listagem de setores</title></h:head> 
<h:body> 
	<h:form>
		<h:messages />
		<h:commandLink value="inicio" action="/index?faces-redirect=true" /><br/>
		<h:commandLink value="Novo Registro" action="#{controleSetor.novo()}" />
		<h:panelGrid columns="5">
			<h:selectOneMenu value="#{controleSetor.dao.ordemAtual}"
			converter="#{controleSetor.dao.converterOrdem}"	>
				<f:selectItems value="#{controleSetor.dao.listaOrdem}"/>
				<f:ajax execute="@form" render="@form"/>
			</h:selectOneMenu>
			<h:outputLabel value="Filtro" />
			<h:inputText value="#{controleSetor.dao.filtro}">
			<f:ajax execute="@form" render="@form" event="keyup"/>
			</h:inputText>
			<h:outputLabel value="Maximo Objetos" />
			<h:inputText value="#{controleSetor.dao.maximoObjetos}">
			<f:ajax execute="@form" render="@form" event="keyup"/>
			</h:inputText>
		</h:panelGrid>
		
		<h:dataTable value="#{controleSetor.dao.listar()}" var="obj"
		frame="box" rules="all" cellpadding="3">
		<f:facet name="header">Listagem de setores</f:facet>
		<f:facet name="footer">
			<div align="center">
				<h:outputLabel value="#{controleSetor.dao.mensagemNavegacao}"/><br/>
				<h:commandButton value="Primeiro"
				 action="#{controleSetor.dao.primeiro()}" >
				 <f:ajax execute="@form" render="@form"/>
				 </h:commandButton>
				 <h:commandButton value="Anterior"
				 action="#{controleSetor.dao.anterior()}" >
				 <f:ajax execute="@form" render="@form" />
				 </h:commandButton>
				 <h:commandButton value="Proximo"
				 action="#{controleSetor.dao.proximo()}" >
				 <f:ajax execute="@form" render="@form" />
				 </h:commandButton>
				 <h:commandButton value="Ultimo"
				 action="#{controleSetor.dao.ultimo()}" >
				 <f:ajax execute="@form" render="@form" />
				 </h:commandButton>
				 
			</div>
		</f:facet>
		<h:column>
				<f:facet name="header">ID</f:facet>
				#{obj.id}
		</h:column>
		<h:column>
				<f:facet name="header">NOME</f:facet>
				#{obj.nome}
		</h:column>
		<h:column>
				<f:facet name="header">Alterar</f:facet>
				<h:commandLink value="Alterar" action="#{controleSetor.alterar(obj)}" />
		</h:column>
		
		<h:column>
				<f:facet name="header">Excluir</f:facet>
				<h:commandLink value="Excluir" action="#{controleSetor.excluir(obj)}" 
				onclick="if (!confirm('confirme a exclusão do setor?')) return false"/>
		</h:column>
		
		</h:dataTable>
	</h:form>
</h:body> 
</html>
